@import "notyf-colors.scss";

@keyframes fadeinup{
  0%{
    opacity: 0;
    transform: translateY(25%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeoutdown{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(25%);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0) translateY(-45%) translateX(13%);
  }

  100% {
    transform: scale(1) translateY(-45%) translateX(13%);
  }
}

.notyf__icon--alert, .notyf__icon--confirm{
    height: 21px;
    width: 21px;
    background: white;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.notyf__icon--alert{
    &:after, &:before{
      content: "";
      background: $red-notyf;
      display: block;
      position: absolute;
      width: 3px;
      border-radius: 3px;
      left: 9px;
      height: 12px;
      top: 5px;
    }

    &:after{
      transform: rotate(-45deg);
    }
    &:before{
      transform: rotate(45deg);
    }
}

.notyf__icon--confirm{
    &:after, &:before{
      content: "";
      background: $green-notyf;
      display: block;
      position: absolute;
      width: 3px;
      border-radius: 3px;
    }
    &:after{
      height: 6px;
      transform: rotate(-45deg);
      top: 9px;
      left: 6px;
    }
    &:before{
      height: 11px;
      transform: rotate(45deg);
      top: 5px;
      left: 10px;
    }
}

.notyf__toast{
    display: block;
    overflow: hidden;
    bottom: -100%;
    animation: fadeinup 0.3s ease-in forwards;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 0 13px;
    border-radius: 2px;
    margin-top: 12px;
    max-width: 300px;
    transform: translateY(25%);

    &--alert .notyf__ripple {
      background: $red-notyf;
    }
    &--confirm .notyf__ripple {
      background: $green-notyf;
    }
    &--disappear{
      transform: translateY(0);
      animation: fadeoutdown 0.3s forwards;
      animation-delay: 0.25s;
      .notyf {
        &__message, &__icon {
          animation: fadeoutdown 0.3s forwards;
          opacity: 1;
          transform: translateY(0);
        }
      }
      .notyf__message{
        animation-delay: 0.05s;
      }
    }
}

.notyf__ripple {
  height: 400px;
  width: 400px;
  position: absolute;
  transform-origin: bottom right;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: scale(0) translateY(-51%) translateX(13%);
  z-index: 5;
  animation: ripple 0.4s ease-out forwards;
}

.notyf__wrapper{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  border-radius: 3px;
  position: relative;
  z-index: 10;
}

.notyf__icon{
  width: 22px;
  text-align: center;
  font-size: 1.3em;
  opacity: 0;
  animation: fadeinup 0.3s forwards;
  animation-delay: 0.3s;
  margin-right: 13px;
}

.notyf__message{
  vertical-align: middle;
  position: relative;
  opacity: 0;
  animation: fadeinup 0.3s forwards;
  animation-delay: 0.25s;
}

.notyf {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Small screens */
@media only screen and (max-width: 736px){
  .notyf {
    bottom: 0;
    left: 0;
    right: 0;
    align-items: initial;

    &__ripple {
      height: 600px;
      width: 600px;
      animation-duration: 0.5s;
    }

    &__toast {
      max-width: initial;
      border-radius: 0;
      box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.13);
    }
  }
}
